
# Python
venv/
__pycache__/
*.pyc
.env
*.sqlite3
instance/

# Node
node_modules/
dist/
*.log
npm-debug.log*

# Vue
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Security
*.pem
*.key
*.cert
secrets.ini
credentials.json
